@media (min-width: 1200px) {
    ul.nav-bar li {
        float: left;
        list-style: none;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: auto;
        padding: 0 15px 0 15px;
        font-size: 18px;
        white-space: nowrap;
        border: solid transparent;
        border-width: 3px 1px 1px;
        border-radius: 3px 3px 0 0;
        border-bottom-color: #e1e4e8;    
        cursor: pointer;
    }
    
    ul.nav-bar li.selected {
        color: #24292e;
        background-color: #fff;
        border-color: #e36209 #e1e4e8 transparent;
    }
}

@media (max-width: 1199px) {
    .nav-bar {
        overflow: hidden;
        background-color: #333;
        color: rgba(255,255,255,0.75);
      }
      
    ul.nav-bar li {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
    
      ul.nav-bar li.selected {
        color: rgba(255,255,255,1);
        font-weight: bold;
    }
}