@media(min-width: 1200px) {
    .page {
        float: left;
        padding: 4px;
        border: solid #3c81e2 1px;
        margin: 4px;
        color: #3c81e2;
        border-radius: 2px;
        cursor: pointer;
    }
    
    .page.disabled {
         border: solid grey 1px;
         color: grey;
         cursor: not-allowed;
    }
    
    .page.selected {
        background-color: #3c81e2;
        color: #fcfcfc;
    }
}
    
@media(max-width: 1199px) {
    .mob-fixed {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background-color: #333;
        text-align: center;
    }
    .page {
        float: left;
        margin: 4px;
        width: 16%;
        color: rgba(255,255,255,0.75);
        cursor: pointer;
    }
    
    .page.disabled {
         border: solid grey 1px;
         color: grey;
         cursor: not-allowed;
    }
    
    .page.selected {
        background-color: #9999;
        color: rgba(255,255,255,1);
    }
    .hidden-mob {
        display: none;
    }
}
