.page {
    float: left;
    padding: 4px;
    border: solid #3c81e2 1px;
    margin: 4px;
    color: #3c81e2;
    border-radius: 2px;
    cursor: pointer;
}

.page.disabled {
     border: solid grey 1px;
     color: grey;
     cursor: not-allowed;
}

.page.selected {
    background-color: #3c81e2;
    color: #fcfcfc;
}